/* cate */
.mod-cate {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;

	.header {
		width: 205px;
		height: 35px;
		line-height: 35px;
		padding: 5px 17px 3px 18px;
		background-color: #ff6700;
		color: #fff;

		a{
			float: right;
			color: #fff2ea;
		}
		a .icon, span .icon {
			display: inline-block;
			width: 13px;
			height: 13px;
			margin-right: 4px;
			/*background: url(../img/icon-cate.png) no-repeat -16px 0;*/
			vertical-align: -2px;
		}
		span .icon {
			background-position: 0 0;
			width: 16px;
			margin-right: 10px;
		}
	}

	&:hover .lists {
		display: block;
	}

	.lists {
		padding: 4px 0 6px;
		/*background: url(../img/bg-index-cate.png) repeat 0 0;*/
		background: rgba(255, 255, 255, 0.95);
		display: none;

		li.chose {
			background-color: #fff;
		}
		li {
			line-height: 32px;
			height: 32px;
			padding: 0 17px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
		li a.big {
			display: inline-block;
			min-width: 48px;
			color: #f60;
			margin-right: 15px;
		}
		li a {
			margin-right: 12px;
			float: left;
		}
		li .arrow {
			display: inline-block;
			width: 4px;
			height: 7px;
			/*background: url(../img/icon-cate.png) no-repeat -65px -17px;*/
			float: right;
			margin-top: 13px;
		}
		li .icon {
			display: inline-block;
			width: 16px;
			height: 16px;
			/*background: url(../img/icon-cate.png) no-repeat 0 0;*/
			margin: 8px 10px 0 0;
			vertical-align: top;
			float: left;
		}
		li.item-3800000000 .icon {
			background-position: -16px -48px;
		}
		li.item-1600000000 .icon {
			background-position: 0 -16px;
		}
		li.item-7600000000 .icon {
			background-position: -48px -16px;
		}
		li.item-7800000000 .icon {
			background-position: -48px -32px;
		}
		li.item-4800000000 .icon {
			background-position: -32px -16px;
		}
		li.item-4600000000 .icon {
			background-position: -32px 0;
		}
		li.item-8600000000 .icon {
			background-position: -48px -48px;
		}
		li.item-2600000000 .icon {
			background-position: 0 -48px;
		}
		li.item-5600000000 .icon {
			background-position: -32px -32px;
		}
		li.item-2800000000 .icon {
			background-position: -16px -16px;
		}
		li.item-1800000000 .icon {
			background-position: 0 -32px;
		}
		li.item-5800000000 .icon {
			background-position: -32px -48px;
		}
		li.item-6800000000 .icon {
			background-position: -48px 0;
		}
		li.item-3600000000 .icon {
			background-position: -16px -32px;
		}
		li.item-8800000000 .icon {
			background-position: -64px 0;
		}
	}

	.panels {
		position: absolute;
		top: 43px;
		left: 240px;
		width: 0;
		min-height: 490px;
		background: #fff; /*border-right: 1px solid #ff6700;border-bottom: 1px solid #ff6700;*/

		&.open{
			width: 960px;
		}
	}

	.panel {
		display: none;

		&.open {
			display: block;
		}

		dl {
			position: relative;
			padding-left: 10px;
			line-height: 26px;
			overflow: hidden;
		}
		dt {
			float: left;
			width: 84px;
			text-align: right;
			padding: 14px 0;
		}
		dt .arrow {
			display: inline-block;
			width: 4px;
			height: 7px;
			/*background: url(../img/icon-cate.png) no-repeat -65px -17px;*/
			margin-left: 10px;
			vertical-align: 1px;
		}
		dt a {
			display: block;
			width: 100%;
			height: 100%;
			color: #333;
		}
		dd {
			overflow: hidden;
			border-bottom: 1px solid #f3f3f3;
			padding: 14px 0 14px 30px;
			margin-right: 20px;
		}
		dd a {
			float: left;
			padding-right: 16px;
			line-height: 26px;
			height: 26px;
			white-space: nowrap;
			color: #666;
		}
		dt a:hover, dd a:hover {
			color: #f60;
		}
	}
}