body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.menu {
    width: 100%;
    box-shadow: 1px 0 0 rgba(0,0,0,.2);
    display: flex;
    background: url(../images/aa.png);
    a {
        text-decoration: none;
        background: url(../images/code.png);
    }
    &::before {
        /*background: inline(../images/account-logo.png);*/
        content: '';
    }
}